.App {
  text-align: center;
}

.upload {
  width: 80px;
}

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.inputfile+label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  display: inline-block;
}

.inputfile+label {
  cursor: pointer;
  /* "hand" cursor */
}

.radiobutton {
  margin-left: 27%;
}