.App {
  text-align: center;
}

.upload {
  width: 80px;
}

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.inputfile+label {
  color: white;
}

.inputfile+label {
  cursor: pointer;
  /* "hand" cursor */
}

.radiobutton {
  margin-left: 27%;
}